
* {
	box-sizing: border-box;
}
body {
	background: url(assets/greybackground.jpg) ;
	margin: 0 0;
}
footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  width: 100%;
  position: fixed;
  bottom: 0;
}
header {
	width: 100%;
	border-bottom: solid;
	border-color: #777777;
	background-color: white;
}
nav {
	height: 30px;
	padding-left: 100px;
}

h3 {
	text-align: center;
}
p:last-child {
	float: left;
}

#inputMessage {
	height: 100px;
}

#textfloat {
	float: left;
}

/*Classes*/
.maincontainer {
	padding-bottom: 20px;

}
.content {
	display: block;
	background-size: 100% auto;
	background-position: center;
	clear: both;
	overflow: auto;
	margin-left: 100px;
	margin-right: 100px;
	float: left;
	width: 100%;
	overflow: auto;
}
.divider {
	margin: 20px;
	height: 3px;
	background-color: lightgray;
}
.leftcol {
	margin-top: 100px;
	margin-right: 20px;
	padding-top: 100px;
	padding: 25px;
	background-color: white;
	word-wrap: break-word;
	border: 1px solid;
}
.nametab{
	width: 300px;
	height: 50px;
	margin-left: 100px;
	background: #4aaaa5;
	font-size: 30px;
	text-align: center;
	color: white;
	background: #4aaaa5;
}
.rightcol {
	margin-top: 100px;
	margin-right: 20px;
	padding-top: 100px;
	padding: 25px;
	background-color: white;
	word-wrap: break-word;
	border: 1px solid;
}
.panel-body {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;

}
 .imgthumb {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-right: 25px;
}
.thumbnail {
	background-color: #ededed;
}
.justify {
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}
.submitbtn {
	background-color: #ededed; 
}
